#mainCanvas {
  display: block;
  margin: auto;
  width: 800;
  height: 800;
  background-color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
}

.grid-item {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.centered-range {
  display: flex;
  align-items: center;
}

ul {
  padding-left: 10px;
  padding-bottom: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}